<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>News R Us</title>

</head>


<body>
<div th:replace="Base :: navlinks"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h3>Select News Categories</h3>
        <span>
            <form action="#" th:action="@{/categories}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{username}" />
                <input type="hidden" th:field="*{password}"  />
                <input type="hidden" th:field="*{interests}" />

                    <div class="col-sm-10">
                        <div class="form-check">
                            <input th:field="*{business}" value="yes" class="form-check-input" type="checkbox" id="business">
                            <label class="form-check-label" for="business">
                                Business
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input th:field="*{sports}" value="yes" class="form-check-input" type="checkbox" id="sports">
                            <label class="form-check-label" for="sports">
                                Sports
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input th:field="*{health}" value="yes" class="form-check-input" type="checkbox" id="health">
                            <label class="form-check-label" for="health">
                                Health
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input th:field="*{technology}" value="yes" class="form-check-input" type="checkbox" id="technology">
                            <label class="form-check-label" for="technology">
                            Technology
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-10">
                    <div class="form-check">
                        <input th:field="*{entertainment}" value="yes" class="form-check-input" type="checkbox" id="entertainment">
                        <label class="form-check-label" for="entertainment">
                            Entertainment
                        </label>
                    </div>
                </div>
                    <div class="col-sm-10">
                    <div class="form-check">
                        <input th:field="*{general}" value="yes" class="form-check-input" type="checkbox" id="general">
                        <label class="form-check-label" for="general">
                            General
                        </label>
                    </div>
                </div>
                    <div class="col-sm-10">
                    <div class="form-check">
                        <input th:field="*{science}" value="yes" class="form-check-input" type="checkbox" id="science">
                        <label class="form-check-label" for="science">
                            Science
                        </label>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="btn btn-primary btn-small typeone " type="submit" value="Update" />
                    </div>
                </div>
            </form>

        </span>




    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>