<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>News R Us</title>
    <style>
        body {background-color: rebeccapurple;}
        h1 {color: black;}
        h3 {color: darkorchid;}
        th {color: black;}
        td {color: black;}
        a  {color: black}
        .jumbotron {background-color: mediumpurple;}
    </style>
</head>


<body>
<div th:replace="Base :: navlinks"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="interest : ${interests}">
                    <td>Interest</td>
                    <td><a th:href="${interest.url}" th:inline="text">[[${interest.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(interest.urlToImage)}"><img th:src='${interest.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(interest.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${interest.author}"></td>
                    <td th:text="${interest.description}"></td>

                </tr>

                <tr th:each="businessarticle : ${businessarticles}">
                    <td>Business</td>
                    <td><a th:href="${businessarticle.url}" th:inline="text">[[${businessarticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(businessarticle.urlToImage)}"><img th:src='${businessarticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(businessarticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${businessarticle.author}"></td>
                    <td th:text="${businessarticle.description}"></td>
                </tr>
                <tr th:each="sciencearticle : ${sciencearticles}">
                    <td>Science</td>
                    <td><a th:href="${sciencearticle.url}" th:inline="text">[[${sciencearticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(sciencearticle.urlToImage)}"><img th:src='${sciencearticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(sciencearticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${sciencearticle.author}"></td>
                    <td th:text="${sciencearticle.description}"></td>
                </tr>
                <br /><br />
                <tr th:each="technologyarticle : ${technologyarticles}">
                    <td>Technology</td>
                    <td><a th:href="${technologyarticle.url}" th:inline="text">[[${technologyarticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(technologyarticle.urlToImage)}"><img th:src='${technologyarticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(technologyarticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${technologyarticle.author}"></td>
                    <td th:text="${technologyarticle.description}"></td>
                </tr>


                <tr th:each="healtharticle : ${healtharticles}">
                    <td>Health</td>
                    <td><a th:href="${healtharticle.url}" th:inline="text">[[${healtharticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(healtharticle.urlToImage)}"><img th:src='${healtharticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(healtharticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>


                    <td th:text="${healtharticle.author}"></td>
                    <td th:text="${healtharticle.description}"></td>
                </tr>



                <tr th:each="generalarticle : ${generalarticles}">
                    <td>General</td>
                    <td><a th:href="${generalarticle.url}" th:inline="text">[[${generalarticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(generalarticle.urlToImage)}"><img th:src='${generalarticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(generalarticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>


                    <td th:text="${generalarticle.author}"></td>
                    <td th:text="${generalarticle.description}"></td>
                </tr>
                <tr th:each="sportsarticle : ${sportsarticles}">
                    <td>Sports</td>
                    <td><a th:href="${sportsarticle.url}" th:inline="text">[[${sportsarticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(sportsarticle.urlToImage)}"><img th:src='${sportsarticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(sportsarticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${sportsarticle.author}"></td>
                    <td th:text="${sportsarticle.description}"></td>
                </tr>
                <tr th:each="entertainmentarticle : ${entertainmentarticles}">
                    <td>Entertainment</td>
                    <td><a th:href="${entertainmentarticle.url}" th:inline="text">[[${entertainmentarticle.title}]]</a></td>

                    <td th:if="${not #strings.isEmpty(entertainmentarticle.urlToImage)}"><img th:src='${entertainmentarticle.urlToImage}' width="200" height="150"/></td>
                    <td th:if="${#strings.isEmpty(entertainmentarticle.urlToImage)}"><img src="/Images/newsicon.png" width="175" height="175"/></td>

                    <td th:text="${entertainmentarticle.author}"></td>
                    <td th:text="${entertainmentarticle.description}"></td>

                </tr>
                <!--<span>interests</span>-->

                </tbody>
            </table>

        </div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>